<!--
/*********************************************************************************
** The contents of this file are subject to the vtiger CRM Public License Version 1.0
 * ("License"); You may not use this file except in compliance with the License
 * The Original Code is:  vtiger CRM Open Source
 * The Initial Developer of the Original Code is vtiger.
 * Portions created by vtiger are Copyright (C) vtiger.
 * All Rights Reserved.
*
 ********************************************************************************/
-->

<!-- Following are the tags which have been opened in header.html. These should be closed after loading the content of the body -->
					</div>
				</td>
			</tr>
		</table>
		<!-- Table with Tickets and FAQ tabs - Ends -->
		</td>
	</tr>
	<tr>
		 <td width="2%">&nbsp;</td>
		 <td width="98%" align="right"><?php echo getTranslatedString(customerportal)." ".$version; ?></td>
		 <td width="2%">&nbsp;</td>
	</tr>

	</table>
	</td>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<!--td width="6" height="6"><img src="images/loginSIBottomLeft.gif"></td>
	<td bgcolor="#FFFFFF"></td>
	<td width="6" height="6"><img src="images/loginSIBottomRight.gif"></td-->
	  </tr>
	</table>
	<br>
    </td>
   </tr>
</table>


<!-- Added for Search in Tickets -->
<!-- pop up for Search -->
<div id="tabSrch">
	<img id="tabSrch_progress" src="images/status.gif" border="0" align="right">
	<form name="search" method="post" action="index.php">
		<input type="hidden" name="module">
		<input type="hidden" name="action">
		<input type="hidden" name="fun">
		
		<div id="_search_formelements_"></div>
	</form>
</div>

<script type="text/javascript">
function showSearchFormNow(elementid) {
	fnDown(elementid);
	
	if($(elementid).loaded) {
		return;
	} else {
		// Squeeze the search div wrapper
		$(elementid).style.width = '100px';
	}
	
	var url = 'module=HelpDesk&action=SearchForm&ajax=true';
	
	new Ajax.Request(
		'index.php', {queue: {position: 'end', scope: 'command'},
		method: 'post',
		postBody:url,
		onComplete: function(response){
					
			// Set the width of serach div wrapper
			$(elementid).style.width = '700px';
						
			$('_search_formelements_').innerHTML = response.responseText;
			$(elementid).loaded = true;
			$(elementid+'_progress').hide();			
		}
	});
	
}
    function closeTicket(event,href){
    Event.stop(event);
    var formElement = document.createElement("form");
    formElement.setAttribute("method","post");
    var closeLink=href;
    formElement.setAttribute("action",closeLink);
    var csrfToken=document.getElementsByName("__cpftk")[0].value;
    var __cpftk = document.createElement("input");
    __cpftk.setAttribute("name","__cpftk");
    __cpftk.setAttribute("type","hidden");
    __cpftk.setAttribute("value",csrfToken);
    formElement.appendChild(__cpftk);
    document.body.appendChild(formElement);
    formElement.submit();
}
    function downloadFile(event,href){
    Event.stop(event);    
    var formElement = document.createElement("form");
    formElement.setAttribute("method","POST");
    var downloadLink=href;
    formElement.setAttribute("action",downloadLink);
    var csrfToken=document.getElementsByName("__cpftk")[0].value;
    var __cpftk = document.createElement("input");
    __cpftk.setAttribute("name","__cpftk");
    __cpftk.setAttribute("type","hidden");
    __cpftk.setAttribute("value",csrfToken);
    formElement.appendChild(__cpftk);
    document.body.appendChild(formElement);
    formElement.submit();
}
    function downloadMisc(event,element){
    Event.stop(event);
    var downloadLink=element.childNodes[0].href;    
    var formElement = document.createElement("form");
    formElement.setAttribute("method","post");
    formElement.setAttribute("action",downloadLink);
    var csrfToken=document.getElementsByName("__cpftk")[0].value;
    var __cpftk = document.createElement("input");
    __cpftk.setAttribute("name","__cpftk");
    __cpftk.setAttribute("type","hidden");
    __cpftk.setAttribute("value",csrfToken);
    formElement.appendChild(__cpftk);
    document.body.appendChild(formElement);
    formElement.submit();
}
</script>



