<!--
/*********************************************************************************
** The contents of this file are subject to the vtiger CRM Public License Version 1.0
 * ("License"); You may not use this file except in compliance with the License
 * The Original Code is:  vtiger CRM Open Source
 * The Initial Developer of the Original Code is vtiger.
 * Portions created by vtiger are Copyright (C) vtiger.
 * All Rights Reserved.
*
 ********************************************************************************/
-->
<?PHP  $only_mine = (isset($_REQUEST['only_mine'])) ? " checked " : ""; ?>
<?php $show= ''; if($_REQUEST['showstatus'] != '') $show = $_REQUEST['showstatus']; ?>
<script language="JavaScript" src="js/general.js"></script>
<table class="dvtContentSpace" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <form name="index" method="post" action="index.php">
                    <input type="hidden" name="module">
                    <input type="hidden" name="action">
                    <input type="hidden" name="fun">
                    <tr>
                        <td style="padding:5px;">
                            <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                <tr><td colspan="2">&nbsp;</td></tr>
                                <tr>
                                    <td align="left">
                                        <script>
                                            function verify_data(form, fldval)
                                            {
                                                com = trim(form.fldval.value);
                                                if (com != '')
                                                {
                                                    return true;
                                                }
                                                else
                                                {
                                                    return false;
                                                }
                                            }
                                            function showTickets(form)
                                            {
                                                var showstatus = form.ticket_status_combo.value;
                                                var obj = form.only_mine_combo;
                                                var onlymine = true;
                                                if (obj != null) {
                                                    var list_type = form.only_mine_combo.value;
                                                    if (list_type == 'all') {
                                                        onlymine = false;
                                                    }
                                                }
                                                window.location.href = "index.php?module=HelpDesk&action=index&showstatus=" + showstatus + "&onlymine=" + onlymine;

                                            }

                                        </script>